src/Arkivverket.Arkade.Core.Tests/TestData/Noark5/StructureValidationFileExists/OneFileIsMissing/arkiv/metadatakatalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.arkivverket.no/standarder/noark5/metadatakatalog"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.arkivverket.no/standarder/noark5/metadatakatalog"
  elementFormDefault="qualified" version="3.1">

  <!-- 
    Noark 5
    XML Schema for arkivuttrekk fra Noark 5-løsninger
    Skjema for metadatakatalog
    
    2013-02-14 - Endringer fra versjon 3.0 til versjon 3.1:
    1. Endret version-attributtet i xs:schema fra 3.0 til 3.1.
    2. Rettet M620 - tilknyttetDato fra xs:date til xs:dateTime
  -->


  <xs:annotation>
    <xs:documentation xml:lang="no">Noark 5</xs:documentation>
    <xs:documentation xml:lang="no">XML Schema for arkivuttrekk fra Noark 5-løsninger</xs:documentation>
    <xs:documentation xml:lang="no">Skjema for metadatakatalog</xs:documentation>
    <xs:documentation xml:lang="no">Grupper av metadata:</xs:documentation>
    <xs:documentation xml:lang="no">M001-M019: Identifikasjon</xs:documentation>
    <xs:documentation xml:lang="no">M020-M049: Kjernemetadata (jf. Dublin Core)</xs:documentation>
    <xs:documentation xml:lang="no">M050-M079: Status</xs:documentation>
    <xs:documentation xml:lang="no">M080-M099: Typer</xs:documentation>
    <xs:documentation xml:lang="no">M100-M199: Datoer</xs:documentation>
    <xs:documentation xml:lang="no">M200-M299: Referanser</xs:documentation>
    <xs:documentation xml:lang="no">M300-M369: Arkiv- og saksbehandlingsfunksjonalitet</xs:documentation>
    <xs:documentation xml:lang="no">M370-M399: Møtebehandling</xs:documentation>
    <xs:documentation xml:lang="no">M400-M449: Korrespondanse</xs:documentation>
    <xs:documentation xml:lang="no">M450-M499: Bevaring og kassasjon</xs:documentation>
    <xs:documentation xml:lang="no">M500-M579: Skjerming og gradering</xs:documentation>
    <xs:documentation xml:lang="no">M580-M599: Brukeradministrasjon og administrativ oppbygning</xs:documentation>
    <xs:documentation xml:lang="no">M600-M659: Logging av hendelser</xs:documentation>
    <xs:documentation xml:lang="no">M660-M679: Logging av arbeidsflyt</xs:documentation>
    <xs:documentation xml:lang="no">M680-M699: Logging av endringer</xs:documentation>
    <xs:documentation xml:lang="no">M700-M799: Tekniske metadata</xs:documentation>
  </xs:annotation>

  <!-- M001-M019: Identifikasjon -->

  <xs:simpleType name="systemID">
    <xs:annotation>
      <xs:documentation>M001</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="klasseID">
    <xs:annotation>
      <xs:documentation>M002</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="mappeID">
    <xs:annotation>
      <xs:documentation>M003</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="registreringsID">
    <xs:annotation>
      <xs:documentation>M004</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="versjonsnummer">
    <xs:annotation>
      <xs:documentation>M005</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>

  <xs:simpleType name="arkivskaperID">
    <xs:annotation>
      <xs:documentation>M006</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="dokumentnummer">
    <xs:annotation>
      <xs:documentation>M007</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>

  <xs:simpleType name="moetenummer">
    <xs:annotation>
      <xs:documentation>M008</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="sakspartID">
    <xs:annotation>
      <xs:documentation>M010</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="saksaar">
    <xs:annotation>
      <xs:documentation>M011</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>

  <xs:simpleType name="sakssekvensnummer">
    <xs:annotation>
      <xs:documentation>M012</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>

  <xs:simpleType name="journalaar">
    <xs:annotation>
      <xs:documentation>M013</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>

  <xs:simpleType name="journalsekvensnummer">
    <xs:annotation>
      <xs:documentation>M014</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>

  <xs:simpleType name="journalpostnummer">
    <xs:annotation>
      <xs:documentation>M015</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>

  <!-- M020-M049: Kjernemetadata (jf. Dublin Core) -->

  <xs:simpleType name="tittel">
    <xs:annotation>
      <xs:documentation>M020</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="beskrivelse">
    <xs:annotation>
      <xs:documentation>M021</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="noekkelord">
    <xs:annotation>
      <xs:documentation>M022</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="arkivskaperNavn">
    <xs:annotation>
      <xs:documentation>M023</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="forfatter">
    <xs:annotation>
      <xs:documentation>M024</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="offentligTittel">
    <xs:annotation>
      <xs:documentation>M025</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <!-- M050-M079: Status -->

  <xs:simpleType name="arkivstatus">
    <xs:annotation>
      <xs:documentation>M050</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Opprettet"/>
      <xs:enumeration value="Avsluttet"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="arkivdelstatus">
    <xs:annotation>
      <xs:documentation>M051</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Aktiv periode"/>
      <xs:enumeration value="Overlappingsperiode"/>
      <xs:enumeration value="Avsluttet periode"/>
      <xs:enumeration value="Uaktuelle mapper"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="saksstatus">
    <xs:annotation>
      <xs:documentation>M052</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Under behandling"/>
      <xs:enumeration value="Avsluttet"/>
      <xs:enumeration value="Utgår"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="journalstatus">
    <xs:annotation>
      <xs:documentation>M053</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Journalført"/>
      <xs:enumeration value="Ferdigstilt fra saksbehandler"/>
      <xs:enumeration value="Godkjent av leder"/>
      <xs:enumeration value="Ekspedert"/>
      <xs:enumeration value="Arkivert"/>
      <xs:enumeration value="Utgår"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="dokumentstatus">
    <xs:annotation>
      <xs:documentation>M054</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Dokumentet er under redigering"/>
      <xs:enumeration value="Dokumentet er ferdigstilt"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="moeteregistreringsstatus">
    <xs:annotation>
      <xs:documentation>M055</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="presedensstatus">
    <xs:annotation>
      <xs:documentation>M056</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Gjeldende"/>
      <xs:enumeration value="Foreldet"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- M080-M099:	Typer -->

  <xs:simpleType name="journalposttype">
    <xs:annotation>
      <xs:documentation>M082</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Inngående dokument"/>
      <xs:enumeration value="Utgående dokument"/>
      <xs:enumeration value="Organinternt dokument for oppfølging"/>
      <xs:enumeration value="Organinternt dokument uten oppfølging"/>
      <xs:enumeration value="Saksframlegg"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="dokumenttype">
    <xs:annotation>
      <xs:documentation>M083</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="merknadstype">
    <xs:annotation>
      <xs:documentation>M084</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="moeteregistreringstype">
    <xs:annotation>
      <xs:documentation>M085</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="klassifikasjonstype">
    <xs:annotation>
      <xs:documentation>M086</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="korrespondanseparttype">
    <xs:annotation>
      <xs:documentation>M087</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Avsender"/>
      <xs:enumeration value="Mottaker"/>
      <xs:enumeration value="Kopimottaker"/>
      <xs:enumeration value="Gruppemottaker"/>
      <xs:enumeration value="Intern avsender"/>
      <xs:enumeration value="Intern mottaker"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="moetesakstype">
    <xs:annotation>
      <xs:documentation>M088</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="slettingstype">
    <xs:annotation>
      <xs:documentation>M089</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sletting av produksjonsformat"/>
      <xs:enumeration value="Sletting av tidligere versjon"/>
      <xs:enumeration value="Sletting av variant med sladdet informasjon"/>
      <xs:enumeration value="Sletting av hele innholdet i arkivdelen"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- M100-M199:	Datoer -->

  <xs:simpleType name="saksdato">
    <xs:annotation>
      <xs:documentation>M100</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>

  <xs:simpleType name="journaldato">
    <xs:annotation>
      <xs:documentation>M101</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>

  <xs:simpleType name="moetedato">
    <xs:annotation>
      <xs:documentation>M102</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>

  <xs:simpleType name="dokumentetsDato">
    <xs:annotation>
      <xs:documentation>M103</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>

  <xs:simpleType name="mottattDato">
    <xs:annotation>
      <xs:documentation>M104</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="sendtDato">
    <xs:annotation>
      <xs:documentation>M105</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="utlaantDato">
    <xs:annotation>
      <xs:documentation>M106</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>

  <xs:simpleType name="arkivperiodeStartDato">
    <xs:annotation>
      <xs:documentation>M107</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>

  <xs:simpleType name="arkivperiodeSluttDato">
    <xs:annotation>
      <xs:documentation>M108</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>

  <xs:simpleType name="forfallsdato">
    <xs:annotation>
      <xs:documentation>M109</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>

  <xs:simpleType name="offentlighetsvurdertDato">
    <xs:annotation>
      <xs:documentation>M110</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>

  <xs:simpleType name="presedensDato">
    <xs:annotation>
      <xs:documentation>M111</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>

  <xs:simpleType name="journalStartDato">
    <xs:annotation>
      <xs:documentation>M112</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>

  <xs:simpleType name="journalSluttDato">
    <xs:annotation>
      <xs:documentation>M113</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>

  <!-- M200-M299:	Referanser -->

  <xs:simpleType name="referanseForloeper">
    <xs:annotation>
      <xs:documentation>M202</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="referanseArvtaker">
    <xs:annotation>
      <xs:documentation>M203</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="referanseArkivdel">
    <xs:annotation>
      <xs:documentation>M208</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="referanseSekundaerKlassifikasjon">
    <xs:annotation>
      <xs:documentation>M209</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="referanseTilMappe">
    <xs:annotation>
      <xs:documentation>M210</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="referanseTilRegistrering">
    <xs:annotation>
      <xs:documentation>M212</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="referanseAvskrivesAvJournalpost">
    <xs:annotation>
      <xs:documentation>M215</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="tilknyttetRegistreringSom">
    <xs:annotation>
      <xs:documentation>M217</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Hoveddokument"/>
      <xs:enumeration value="Vedlegg"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="referanseDokumentfil">
    <xs:annotation>
      <xs:documentation>M218</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="referanseTilKlasse">
    <xs:annotation>
      <xs:documentation>M219</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="referanseForrigeMoete">
    <xs:annotation>
      <xs:documentation>M221</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="referanseNesteMoete">
    <xs:annotation>
      <xs:documentation>M222</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="referanseTilMoeteregistrering">
    <xs:annotation>
      <xs:documentation>M223</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="referanseFraMoeteregistrering">
    <xs:annotation>
      <xs:documentation>M224</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <!-- M300-M369: Arkiv- og saksbehandlingsfunksjonalitet -->

  <xs:simpleType name="dokumentmedium">
    <xs:annotation>
      <xs:documentation>M300</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Fysisk medium"/>
      <xs:enumeration value="Elektronisk arkiv"/>
      <xs:enumeration value="Blandet fysisk og elektronisk arkiv"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="oppbevaringssted">
    <xs:annotation>
      <xs:documentation>M301</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="sakspartNavn">
    <xs:annotation>
      <xs:documentation>M302</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="sakspartRolle">
    <xs:annotation>
      <xs:documentation>M303</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="antallVedlegg">
    <xs:annotation>
      <xs:documentation>M304</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>

  <xs:simpleType name="administrativEnhet">
    <xs:annotation>
      <xs:documentation>M305</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="saksansvarlig">
    <xs:annotation>
      <xs:documentation>M306</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="saksbehandler">
    <xs:annotation>
      <xs:documentation>M307</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="journalenhet">
    <xs:annotation>
      <xs:documentation>M308</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="utlaantTil">
    <xs:annotation>
      <xs:documentation>M309</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="merknadstekst">
    <xs:annotation>
      <xs:documentation>M310</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="presedensHjemmel">
    <xs:annotation>
      <xs:documentation>M311</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="rettskildefaktor">
    <xs:annotation>
      <xs:documentation>M312</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="seleksjon">
    <xs:annotation>
      <xs:documentation>M313</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <!-- M370-M399: Møtebehandling -->

  <xs:simpleType name="utvalg">
    <xs:annotation>
      <xs:documentation>M370</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="moetested">
    <xs:annotation>
      <xs:documentation>M371</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="moetedeltakerNavn">
    <xs:annotation>
      <xs:documentation>M372</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="moetedeltakerFunksjon">
    <xs:annotation>
      <xs:documentation>M373</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <!-- M400-M449:	Korrespondanse -->

  <xs:simpleType name="korrespondansepartNavn">
    <xs:annotation>
      <xs:documentation>M400</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="postadresse">
    <xs:annotation>
      <xs:documentation>M406</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="postnummer">
    <xs:annotation>
      <xs:documentation>M407</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="poststed">
    <xs:annotation>
      <xs:documentation>M408</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="land">
    <xs:annotation>
      <xs:documentation>M409</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="epostadresse">
    <xs:annotation>
      <xs:documentation>M410</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="telefonnummer">
    <xs:annotation>
      <xs:documentation>M411</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="kontaktperson">
    <xs:annotation>
      <xs:documentation>M412</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <!-- M450-M499:	Bevaring og kassasjon -->

  <xs:simpleType name="kassasjonsvedtak">
    <xs:annotation>
      <xs:documentation>M450</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Bevares"/>
      <xs:enumeration value="Kasseres"/>
      <xs:enumeration value="Vurderes senere"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="bevaringstid">
    <xs:annotation>
      <xs:documentation>M451</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>

  <xs:simpleType name="kassasjonsdato">
    <xs:annotation>
      <xs:documentation>M452</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>

  <xs:simpleType name="kassasjonshjemmel">
    <xs:annotation>
      <xs:documentation>M453</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <!-- M500-M579: Skjerming og gradering -->

  <xs:simpleType name="tilgangsrestriksjon">
    <xs:annotation>
      <xs:documentation>M500</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="skjermingshjemmel">
    <xs:annotation>
      <xs:documentation>M501</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="skjermingMetadata">
    <xs:annotation>
      <xs:documentation>M502</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="skjermingDokument">
    <xs:annotation>
      <xs:documentation>M503</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Skjerming av hele dokumentet"/>
      <xs:enumeration value="Skjerming av deler av dokumentet"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="skjermingsvarighet">
    <xs:annotation>
      <xs:documentation>M504</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>

  <xs:simpleType name="skjermingOpphoererDato">
    <xs:annotation>
      <xs:documentation>M505</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>

  <xs:simpleType name="gradering">
    <xs:annotation>
      <xs:documentation>M506</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Strengt hemmelig (sikkerhetsgrad)"/>
      <xs:enumeration value="Hemmelig (sikkerhetsgrad)"/>
      <xs:enumeration value="Konfidensielt (sikkerhetsgrad)"/>
      <xs:enumeration value="Begrenset (sikkerhetsgrad)"/>
      <xs:enumeration value="Fortrolig (beskyttelsesgrad)"/>
      <xs:enumeration value="Strengt fortrolig (beskyttelsesgrad)"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="elektroniskSignaturSikkerhetsnivaa">
    <xs:annotation>
      <xs:documentation>M507</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="elektroniskSignaturVerifisert">
    <xs:annotation>
      <xs:documentation>M508</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Signatur påført, ikke verifisert"/>
      <xs:enumeration value="Signatur påført og verifisert"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- M580-M599:	Brukeradministrasjon og administrativ oppbygning -->

  <xs:simpleType name="brukerNavn">
    <xs:annotation>
      <xs:documentation>M580</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="brukerRolle">
    <xs:annotation>
      <xs:documentation>M581</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="brukerstatus">
    <xs:annotation>
      <xs:documentation>M582</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="administrativEnhetNavn">
    <xs:annotation>
      <xs:documentation>M583</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="administrativEnhetsstatus">
    <xs:annotation>
      <xs:documentation>M584</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="referanseOverordnetEnhet">
    <xs:annotation>
      <xs:documentation>M585</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <!-- M600-M659: Logging av hendelser -->

  <xs:simpleType name="opprettetDato">
    <xs:annotation>
      <xs:documentation>M600</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="opprettetAv">
    <xs:annotation>
      <xs:documentation>M601</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="avsluttetDato">
    <xs:annotation>
      <xs:documentation>M602</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="avsluttetAv">
    <xs:annotation>
      <xs:documentation>M603</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="arkivertDato">
    <xs:annotation>
      <xs:documentation>M604</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="arkivertAv">
    <xs:annotation>
      <xs:documentation>M605</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="antallJournalposter">
    <xs:annotation>
      <xs:documentation>M609</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>

  <xs:simpleType name="merknadsdato">
    <xs:annotation>
      <xs:documentation>M611</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="merknadRegistrertAv">
    <xs:annotation>
      <xs:documentation>M612</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="slettetDato">
    <xs:annotation>
      <xs:documentation>M613</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="slettetAv">
    <xs:annotation>
      <xs:documentation>M614</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="konvertertDato">
    <xs:annotation>
      <xs:documentation>M615</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="konvertertAv">
    <xs:annotation>
      <xs:documentation>M616</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="avskrivningsdato">
    <xs:annotation>
      <xs:documentation>M617</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>

  <xs:simpleType name="avskrevetAv">
    <xs:annotation>
      <xs:documentation>M618</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="avskrivningsmaate">
    <xs:annotation>
      <xs:documentation>M619</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Besvart med brev"/>
      <xs:enumeration value="Besvart med e-post"/>
      <xs:enumeration value="Besvart på telefon"/>
      <xs:enumeration value="Tatt til etterretning"/>
      <xs:enumeration value="Tatt til orientering"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tilknyttetDato">
    <xs:annotation>
      <xs:documentation>M620</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="tilknyttetAv">
    <xs:annotation>
      <xs:documentation>M621</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="verifisertDato">
    <xs:annotation>
      <xs:documentation>M622</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>

  <xs:simpleType name="verifisertAv">
    <xs:annotation>
      <xs:documentation>M623</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="graderingsdato">
    <xs:annotation>
      <xs:documentation>M624</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="gradertAv">
    <xs:annotation>
      <xs:documentation>M625</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="nedgraderingsdato">
    <xs:annotation>
      <xs:documentation>M626</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="nedgradertAv">
    <xs:annotation>
      <xs:documentation>M627</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="presedensGodkjentDato">
    <xs:annotation>
      <xs:documentation>M628</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="presedensGodkjentAv">
    <xs:annotation>
      <xs:documentation>M629</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="kassertDato">
    <xs:annotation>
      <xs:documentation>M630</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="kassertAv">
    <xs:annotation>
      <xs:documentation>M631</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <!-- M660-M679: Logging av arbeidsflyt -->

  <xs:simpleType name="flytTil">
    <xs:annotation>
      <xs:documentation>M660</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="flytMottattDato">
    <xs:annotation>
      <xs:documentation>M661</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="flytSendtDato">
    <xs:annotation>
      <xs:documentation>M662</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="flytStatus">
    <xs:annotation>
      <xs:documentation>M663</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="flytMerknad">
    <xs:annotation>
      <xs:documentation>M664</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="flytFra">
    <xs:annotation>
      <xs:documentation>M665</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <!-- M680-M699: Logging av endringer -->

  <xs:simpleType name="referanseArkivenhet">
    <xs:annotation>
      <xs:documentation>M680</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="referanseMetadata">
    <xs:annotation>
      <xs:documentation>M681</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="endretDato">
    <xs:annotation>
      <xs:documentation>M682</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="endretAv">
    <xs:annotation>
      <xs:documentation>M683</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="tidligereVerdi">
    <xs:annotation>
      <xs:documentation>M684</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="nyVerdi">
    <xs:annotation>
      <xs:documentation>M685</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <!-- M700-M799: Tekniske metadata -->

  <xs:simpleType name="variantformat">
    <xs:annotation>
      <xs:documentation>M700</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Produksjonsformat"/>
      <xs:enumeration value="Arkivformat"/>
      <xs:enumeration value="Dokument hvor deler av innholdet er skjermet"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="format">
    <xs:annotation>
      <xs:documentation>M701</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="formatDetaljer">
    <xs:annotation>
      <xs:documentation>M702</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="sjekksum">
    <xs:annotation>
      <xs:documentation>M705</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="sjekksumAlgoritme">
    <xs:annotation>
      <xs:documentation>M706</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="filstoerrelse">
    <xs:annotation>
      <xs:documentation>M707</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="konvertertFraFormat">
    <xs:annotation>
      <xs:documentation>M712</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="konvertertTilFormat">
    <xs:annotation>
      <xs:documentation>M713</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="konverteringsverktoey">
    <xs:annotation>
      <xs:documentation>M714</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="konverteringskommentar">
    <xs:annotation>
      <xs:documentation>M715</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

</xs:schema>
